*/5 * * * * echo 1 > /proc/sys/vm/drop_caches
*/3 * * * * source /etc/profile && cd /root/p2pspider && /usr/bin/python /root/p2pspider/parse_torrent.py
0 0 * * * /usr/local/coreseek/bt.sh
*/5 * * * * /usr/local/coreseek/increment.sh
